@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #06202a;
  color: #d3d3d3;
  font-family: "Roboto", sans-serif;
}
